html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2b4d70;
    /*position: relative;
    overflow: hidden;*/
}

/*顶部*/
.blog-header{
    height: 70px;
    width: 100%;
    background-color: #000;
    position: fixed;
    box-shadow: 0 3px 10px rgba(10, 10, 10, 0.59);
    z-index: 9999;
}

.blog-logo{
    height: 70px;
    max-width: 150px;
    text-align: center;
    line-height: 70px;
    margin-left: 350px;
    float: left;
}
.blog-logo a{
    text-decoration:none;
    font-size: 36px;
    color: #f9f9f9;
}
.blog-navbar {
    height: 70px;
    line-height: 70px;
    float: left;
}
.blog-navbar .blog-navbar-nav,.blog-navbar-dropdown{
    margin: 0;
    list-style-type:none;
}
.blog-navbar .nav-item{
    float: left;
    padding: 0 10px;
}
.blog-navbar .dropdown:after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: #f9f9f9;
}
.blog-navbar .nav-item:hover{
    background-color: #303030;
}
.blog-navbar .nav-item a{
    text-decoration:none;
    color: #f3f3f3;
}
.blog-navbar .nav-item .blog-navbar-link:hover{
    color: #22d0f0;
}
.blog-navbar .blog-navbar-this a{
    color: #22d0f0;
}
.blog-navbar-dropdown{
    position: absolute;
    background-color: #000;
    min-width: 10rem;
    z-index: 999;
    box-shadow: 0 3px 5px rgba(219, 219, 219, 0.51);
    padding: 0;
    display: none;
}
.blog-navbar-dropdown .dropdown-item{
    height: 40px;
    display: block;
    text-align: left;
    padding-left: 10px;
    line-height: 40px;
}
.blog-navbar-dropdown .dropdown-item:hover{
    background-color: #303030;
}
.blog-navbar-dropdown .dropdown-item .dropdown-item-link:hover{
    color: #22d0f0;
}
.blog-right{
    float: right;
    height: 70px;
    line-height: 70px;
    margin-right: 300px;
    padding: 10px 0;
}
.blog-right .blog-search {
    height: 50px;
    width: 200px;
    line-height: 50px;
    border-radius: 2.5rem;
    padding-left: 10px;
    background-color: #252525;
}
.blog-search .seacher_input{
    height: 42px;
    width: 170px;
    margin-left: 10px;
    outline-color: invert ;
    outline-style: none ;
    outline-width: 0px ;
    border: none ;
    border-style: none ;
    text-shadow: none ;
    -webkit-appearance: none ;
    -webkit-user-select: text ;
    outline-color: transparent ;
    box-shadow: none;
    background-color: #252525;
    color: #FFF;
}

/*主体*/
.blog-content{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.blog-content .blog-content-left{
    padding: 5px;
    width: 15%;
    margin-top: 90px;
    position: absolute;
}
.blog-content-left .blog-user-info {
    background-color: rgba(8, 8, 16, 0.5);
    position: fixed;
    width: inherit;
}
.blog-user-info .blog-user-img {
    padding-top: 10px;
    margin: 0 auto;
}
.blog-user-info .blog-user-img img{
    width: 70px;
    height: 70px;
    border-radius: 2.5rem;
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}
.blog-user-info .blog-user-img img:hover {
    box-shadow: 0 0 10px rgba(231, 231, 231, 0.51);
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}
.blog-user-info .blog-user-name{
    font-size: 16px;
    color: #f3f3f3;
    margin: 0;
    padding: 10px 10px;
    font-weight:normal;
}
.blog-user-info .blog-user-msg{
    min-height: 40px;
    line-height: 20px;
    background-color: rgba(9, 9, 23, 0.5);
    margin: 0 auto;
    padding: 10px;
    color: #f3f3f3;
}
.blog-user-msg .msg-info{
    font-size: 15px;
}
.blog-user-msg .blog-user-marks{
    font-size: 25px;
    color: rgba(232, 77, 0, 0.98);
}
.blog-content .blog-content-middle{
    padding: 5px;
    float: left;
    width: 55%;
    margin-top: 90px;
    margin-left: 19.5%;
}
.blog-content-middle .blog-articles{
    width: 100%;
}
.blog-articles .blog-article-list{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.blog-article-list .blog-article-item{
    background-color: rgba(8, 8, 16, 0.5);
    height: 160px;
    line-height: 160px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid;
}
.blog-article-list .blog-article-item:hover{
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border-color: #0690e8;
}
.blog-article-item .blog-article-img{
    float: left;
    width: 220px;
    height: 150px;
    padding: 5px 5px;
    padding-right: 20px;
}
.blog-article-img .blog-article-cat{
    display: block;
    position: absolute;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #e5eee2;
    min-width: 50px;
    background-color: #0690e8;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.blog-article-img .blog-article-img-link img{
    width: 220px;
    height: 150px;
}
.blog-article-img-link img:hover{
    box-shadow: 0 0 10px rgba(235, 235, 235, 0.51);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.blog-article-item .blog-article-title{
    height: 40px;
    text-align:left;
}
.blog-article-title h3{
    height: 40px;
    margin: 0;
    line-height: 40px;
    color: #e8e8e8;
    font-weight:normal;
}

.blog-article-title .blog-article-title-link{
    text-decoration: none;
    color: #f6f6f6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    border-bottom: 1px solid #0690e8;
}
.blog-article-title .blog-article-title-link:hover{
    color: #22d0f0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.blog-article-item .blog-article-desc{
    padding-top: 10px;
    padding-right: 10px;
    height: 60px;
    line-height: 20px;
    text-align: left;
    color: #f6f6f6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
}
.blog-article-item .blog-article-info{
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: #f6f6f6;
    font-size: 13px;
}
.blog-article-info span{
    padding-right: 10px;
}
.blog-article-info span i{
    font-size: 12px;
    padding-right: 5px;
}
.blog-content .blog-content-right{
    float: left;
    padding: 5px;
    width: 20%;
    height: 500px;
    margin-top: 90px;
}

.blog-hot-articles {
    background-color: rgba(9, 9, 23, 0.5);
}
.blog-hot-tag-articles{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #0690e8;
    color: #f6f6f6;
    text-align: center;
}
.blog-hot-article-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.blog-hot-article-item{
    height: 70px;
    margin-top: 2px;
    border-bottom: 1px solid #0690e8;
}
.blog-hot-article-item:hover{
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.blog-hot-article-link{
    text-decoration: none;
    display: block;
    height: 70px;
}
.blog-hot-article-img{
    float: left;
    height: 70px;
}
.blog-hot-article-img img{
    width: 100px;
    height: 70px;
}
.blog-hot-article-title{
    color: #f6f6f6;
    font-size: 14px;
    padding-left: 5px;
    overflow: hidden;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.blog-hot-article-info{
    height: 25px;
    line-height: 25px;
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}
.blog-hot-article-info span{
    padding-right: 10px;
    color: #f6f6f6;
    font-size: 12px;
}
.blog-hot-article-info span i{
    font-size: 11px;
    padding-right: 5px;
}
/*流星划过特效*/

.star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: fixed;
    background-color: rgba(237, 205, 163, 0.8);
    box-shadow: 0 0 40px 0 rgba(237, 205, 163, 0.8), 0 0 20px 0 #FFFFFF;
    animation: glow 5s infinite;
}
.star--medium {
    width: 6px;
    height: 6px;
}
.star--big {
    width: 9px;
    height: 9px;
    box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 4px #FFFFFF;
}

.comet {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 8px rgba(255, 255, 255, 0.6);
    top: 0;
    left: 80%;
    opacity: 0.3;
    transform: rotate(-45deg) translate(0, -50px);
    animation: comet 6s infinite;
}
.comet:after {
    content: '';
    width: 20vw;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(222, 190, 149, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes glow {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.9;
    }
}
@keyframes comet {
    0% {
        transform: rotate(-45deg) translateX(0);
        opacity: 0.3;
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: rotate(-45deg) translateX(-100vw);
        opacity: 0;
    }
    100% {
        transform: rotate(-45deg) translateX(-100vw);
        opacity: 0;
    }
}