*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #FFF;
}
ul,li{
    list-style: none;
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar{
    width: 9px;
    height: 16px;
    background-color: rgb(44, 42, 42);
    border-radius: 20px;
}
body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track{
    width: 9px;
    height: 16px;
    background-color: rgb(44, 42, 42);
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb{
    height: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #696969;
}

/*背景特效*/
body {
    background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
    background: radial-gradient(250% 125% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
    background-attachment: fixed;
}
/*流星划过特效*/

.star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: fixed;
    background-color: rgba(237, 205, 163, 0.8);
    box-shadow: 0 0 40px 0 rgba(237, 205, 163, 0.8), 0 0 20px 0 #FFFFFF;
    animation: glow 5s infinite;
    z-index: -99;
}
.star--medium {
    width: 6px;
    height: 6px;
}
.star--big {
    width: 9px;
    height: 9px;
    box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 4px #FFFFFF;
}

.comet {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 8px rgba(255, 255, 255, 0.6);
    top: 0;
    left: 80%;
    opacity: 0.3;
    transform: rotate(-45deg) translate(0, -50px);
    animation: comet 6s infinite;
}
.comet:after {
    content: '';
    width: 20vw;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(222, 190, 149, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes glow {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.9;
    }
}
@keyframes comet {
    0% {
        transform: rotate(-45deg) translateX(0);
        opacity: 0.3;
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: rotate(-45deg) translateX(-100vw);
        opacity: 0;
    }
    100% {
        transform: rotate(-45deg) translateX(-100vw);
        opacity: 0;
    }
}

/*顶部*/
.blog-header{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    z-index: 99999;
}
.blog-logo{
    height: 70px;
    width: 150px;
    text-align: center;
    margin: auto 0;
    align-items: center;
    position: absolute;
    left: 100px;
}
.blog-logo>a{
    display: block;
    line-height: 70px;
    color: #FFF;
    font-family: 楷体;
    font-size: 32px;
    font-weight: bolder;
}
.blog-menu-info{
    height: 70px;
}

.blog-navbar{
    height: 70px;
    position: absolute;
    left: 260px;
    max-width: 50%;
}
.blog-navbar>ul>.blog-navbar-item{
    float: left;
    position: relative;
    line-height: 70px;
    margin: 0 5px;
    padding: 0 5px;
    transition:0.4s;
}
.dropdown:after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: #f9f9f9;
}
.blog-navbar>ul>.blog-navbar-item:hover{
    background: rgba(0,0,0,0.5);
}
.blog-navbar>ul>.blog-navbar-item:hover>ul{
    display: block;
}
.blog-navbar>ul>.blog-navbar-item>.blog-navbar-link{
    font-size: 17px;
}
.blog-navbar>ul>.blog-navbar-item>.blog-navbar-link:hover{
    color: #02aff3;
}
.blog-navbar>ul>.blog-navbar-item>ul{
    min-width: 100px;
    position: absolute;
    display: none;
}
.blog-navbar>ul>.blog-navbar-item>ul>.blog-navbar-son-item{
    background: rgba(0,0,0,0.6);
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.blog-navbar>ul>.blog-navbar-item>ul>.blog-navbar-son-item:hover{
    background: rgba(0,0,0,0.5);
}
.blog-navbar-son-link:hover{
    color: #02aff3;
}

.blog-search{
    width: 250px;
    position: absolute;
    height: 50px;
    line-height: 50px;
    top: 10px;
    right: 100px;
    background-color: #252525;
    border-radius: 2.5rem;
    text-align: center;
}
.blog-search>.blog-search-input{
    width: 180px;
    height: 40px;
    border: 0;
    position: relative;
    border-radius: 2px;
    outline-color: invert;
    outline-style: none;
    outline-width: 0;
    border: none;
    border-style: none ;
    text-shadow: none ;
    -webkit-appearance: none ;
    -webkit-user-select: text ;
    outline-color: transparent ;
    box-shadow: none;
    background-color: #252525;
    color: #FFF;
    font-size: 16px;
}
.blog-search>button{
    color: #FFF;
    background-color: #252525;
    height: 30px;
    width: 30px;
    border-style: none;
    font-size: 20px;
    outline-color:transparent;
}
.blog-menu{
    display: none;
}
.gotop{
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    text-align: center;
    line-height: 48px;
    border-radius: 2.5rem;
    z-index: 999;
}
.gotop:hover{
    box-shadow: 0 0 10px #181818;
}
#gotop{
    display: none;
}

/*小屏幕header尺寸*/
@media screen and (max-width: 900px){
    .blog-logo{
        left: 20px;
    }
    .blog-menu-info{
        position: fixed;
        width: 75%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.71);
        z-index: 99;
        overflow-y: scroll;
        transition: 0.7s;
        left: -75%;
    }
    .blog-navbar{
        width: 100%;
        max-width: 100%;
        top: 70px;
        left: auto;
        display: block;
        height: auto;
    }
    .blog-navbar>ul>.blog-navbar-item{
        clear:both;
        display: block;
        float: none;
        text-align: center;
        height: auto;
        line-height: 50px;
    }
    .blog-navbar>ul>.blog-navbar-item:hover:active{
        display: block;
    }
    .blog-navbar>ul>.blog-navbar-item>ul{
        position: relative;
        background-color: #131313;
        width: 100%;
        max-width: 100%;
        visibility: visible;
        transition: 0.7s;
    }
    .blog-navbar>ul>.blog-navbar-item>ul>.blog-navbar-son-item{

    }
    .blog-search{
        position: relative;
        z-index: 100;
        margin: 0 auto;
        left: auto;
        right: auto;
    }
    .blog-menu{
        display: block;
        position: absolute;
        right: 25px;
        height: 40px;
        line-height: 40px;
        top: 15px;
        color: #FFF;
        font-size: 20px;
        cursor: pointer;
        width: 50px;
        text-align: center;
        background-color: #6c6a6a;
        border-radius: 2px;
    }
    .show{
        left: 0;
    }
    .hide{
        left: -75%;
    }

}

/*内容*/
.blog-center{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.blog-info{
    width: 250px;
    position: fixed;
    top: 100px;
    background-color: rgba(27, 41, 71, 0.6);
    padding: 5px 0;
}
.blog-info-header{
    margin-top: 10px;
    text-align: center;
    width: auto;
    height: 70px;
}

.blog-info-img{
    width: 70px;
    height: 70px;
    border-radius: 2.5rem;
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}
.blog-info-img:hover{
    -webkit-box-shadow: 0 0 5px #b5b5b5;
    -moz-box-shadow: 0 0 5px #b5b5b5;
    box-shadow: 0 0 5px #b5b5b5;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}
.blog-contact{
    width: auto;
    margin-top: 10px;
    text-align: left;
    background-color: rgba(24, 24, 48, 0.74);
    padding: 5px;
}
.blog-contact>p{
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-bottom: 2px;
}
.blog-contact>p>span{
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 0.9rem;
    max-width: 80%;
}
.blog-contact>p>span>em{
    padding-right: 5px;
}
.blog-contact>p>button{
    float: right;
    width: 30px;
    height: 30px;
    border-style: none;
    outline-color:transparent;
    background-color: rgba(66, 66, 66, 0.74);
    color: #f6f6f6;
}
.blog-contact>p>button:hover{
    color: #22d0f0;
}
.blog-desc{
    text-align: center;
    margin-top: 10px;
    background-color: rgba(24, 24, 48, 0.74);
    color: #f6f6f6;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-family: 楷体;
}
.blog-desc>em{
    font-size: 1.5rem;
    color: #f05c00;
}
.blog-left{
    width: 80%;
    height: auto;
    float: left;
    margin-top: 100px;
}
.blog-articles,.blog-article-content{
    width: calc(100% - 260px);
    margin-left: 250px;
    padding: 0 10px;
}
.blog-breadcrumb{
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding: 5px;
    background-color: #22d0f0;
    background-color: rgba(27, 41, 71, 0.6);
    margin-bottom: 20px;
}
.blog-breadcrumb-link{
    color: #22d0f0;
    padding: 0 5px;
}
.blog-breadcrumb-link:hover{
    color: #00a7f0;
}
.blog-breadcrumb-link::after{
    content: "/";
    color: #f6f6f6;
    padding-left: 10px;
}
.blog-article{
    display: block;
    height: 250px;
    background-color: #6c6a6a;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
.blog-article-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
}
.blog-article:hover{
    -ms-transform:scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari */
    transform: scale(1.02);
}
.blog-article-info,.blog-hot-article-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}
.article-info,.hot-article-info{
    width: 100%;
    height: 100%;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5px;
}
.article-info>h2,
.hot-info>h2,
.article-title-info>h2{
    font-size: 1.5625rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: .75rem;
}
.article-info>.info,
.article-title-info>.info{
    margin-bottom: 10px;
}
.blog-pages{
    width: 100%;
    height: 50px;
    text-align: center;
}
.blog-pages>ul{
    display: inline-block;
}
.blog-page,.blog-page-prev,.blog-page-next{
    display: initial;
}
.blog-page-link{
    display: block;
    float: left;
    padding: 8px 16px;
    margin: 2px 4px;
    color: #ffffff;
    background-color: #22d0f0;
    border-radius: 5px;
}
.blog-page-link:hover,.blog-page-prev:hover,.blog-page-next:hover{
    background-color: rgba(0,255,90,0.6);
}
.page-active{
    background-color: rgba(0,255,90,0.6);
}
.blog-right{
    float: left;
    width: 20%;
    margin-top: 100px;
}
.blog-web-info{
    background-color: rgba(27, 41, 71, 0.6);
    padding: 5px;
    margin-left: 10px;
}
.blog-web-count,.blog-web-times{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #f6f6f6;
    font-size: 1.03rem;
}
.blog-web-count>span,
.blog-web-times>span{
    color: #22d0f0;
}
.blog-hot-articles{
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(27, 41, 71, 0.6);
}
.blog-tag{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #f6f6f6;
    line-height: 50px;
    border-bottom: 1px solid rgba(40, 46, 64, 0.8);
    margin-bottom: 10px;
}
.blog-hot-article{
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
}
.blog-hot-article-img{
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

/*小屏幕content尺寸*/
@media screen and (max-width: 900px){
    .blog-center{
        width: 90%;
    }
    .blog-left{
        width: 100%;
    }
    .blog-articles,.blog-article-content{
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .blog-article:hover{
        -ms-transform:scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
    }
    .blog-page{
        display: none;
    }
    .blog-page-prev>.blog-page-link{
        margin-right: 10px;
    }
    .blog-page-next>.blog-page-link{
        margin-left: 10px;
    }
    .blog-right,.blog-info{
        display: none;
    }
}

/*底部*/
.blog-footer{
    margin-top: 20px;
    width: 100%;
    min-height: 70px;
    background-color: #000000;
}
.blog-footer-web{
    width: 100%;
    min-height: 70px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}
.blog-footer-web a{
    color: #22d0f0;
}

/*内容页*/
.blog-content-header{
    height: 250px;
    position: relative;
    background: rgb(44, 42, 42);
}
.blog-content-article-img{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-article-title-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    top: 0;
}
.article-title-info{
    width: 100%;
    height: 100%;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5px;
    color: #ffffff;
}
.article-title-info a{
    color: #22d0f0;
}
.article-title-info>.tags>a{
    height: 25px;
    line-height: 25px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #3f3f3f;
    border-radius: 2.5rem;
    margin-top: 2px;
}
.read-comment{
    margin-bottom: 10px;
}
.blog-content-desc{
    width: 100%;
}
.content-desc{
    background: rgb(44, 42, 42);
    padding: 10px;
    color: #f6f6f6;
}
.blog-article-copyright{
    margin-top: 20px;
    line-height: 30px;
}
.blog-article-copyright strong{
    color: #f05c00;
}
.blog-article-copyright a{
    color: #22d0f0;
    border-bottom:1px dashed #c3c3c3;
}
.blog-post-buttons{
    background: rgb(44, 42, 42);
    border-top: 1px solid #6fffc2;
    border-bottom: 1px solid #6fffc2;
}
.blog-reward{
    text-align: center;
    padding: 5px 10px;
    margin-top: 20px;
}
.blog-reward>span{
    display: block;
    color: #fff;
    margin-bottom: 10px;
}
.reward-img>p{
    display: inline-block;
}
.reward-img>p>img{
    width: 150px;
    height: 150px;
}
.reward-img>p>span{
    display: block;
    color: #fff;
}
.blog-share{
    color: #f3f3f3;
    text-align: center;
    padding: 5px;
}
.blog-post-near{
    background: rgb(44, 42, 42);
    border-bottom: 1px solid #6fffc2;
}
.blog-article-prev,
.blog-article-next{
    color: #f6f6f6;
    padding: 10px 5px;
}
.blog-post-near a{
    color: #22d0f0;
    border-bottom: 1px dashed #c3c3c3;
}
.blog-comments{
    background: rgb(44, 42, 42);
}
.blog-tag-comment{
    height: 70px;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 10px;
    line-height: 70px;
    color: #f6f6f6;
}
.blog-tag-comment>span{
    color: #00dcff;
}
.blog-comment-info{
    text-align: center;
}
.comment-content{
    width: 95%;
    background: rgb(44, 42, 42);
    height: 100px;
    border: 0.125rem solid #777;
    border-radius: 0.3125rem;
    padding: 5px;
    color: #f6f6f6;
    display: inline-block;
    overflow-y: visible;
    font-family: initial;
    outline-color: invert;
    outline-width: 0;
    outline-style: none;
}
.blog-comment-info .comment-input{
    height: 30px;
    margin-top: 10px;
    outline-color: invert;
    outline-width: 0;
    outline-style: none;
    background: rgb(44, 42, 42);
    border: 0.125rem solid #777;
    border-radius: 0.3125rem;
    padding: 5px;
    color: #f6f6f6;
}
.comment-submit{
    margin-top: 10px;
    width: 96%;
    height: 50px;
    background-color: #6fffc2;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
}
.blog-comment-lists>ol{
    width: 96%;
    margin: 5px auto;
}
.blog-comment-list{
    position: relative;
    min-height: 100px;
}
.blog-comment-list>.comment-header>img{
    width: 50px;
    height: 50px;
    border-radius: 2.5rem;
}
.comment-name{
    position: absolute;
    top: 2px;
    left: 60px;
}
.comment-name>a,.comment-huifu>a{
    color: #22d0f0;
}
.comment-time{
    position: absolute;
    top: 30px;
    left: 60px;
    color: #f6f6f6;
}
.comment-huifu{
    position: absolute;
    top: 30px;
    right: 5px;
}
.comment-neiro{
    margin-left: 60px;
    color: #f6f6f6;
}
.comment-children{
    margin-left: 60px;
    margin-top: 10px;
}
.comment-children>ol{
    border-left: 4px solid rgba(255,255,255,0.24);
    padding: 0.25rem;
}
@media (min-width: 1278px) {
    .blog-comment-info .comment-input {
        width: 30.4%;
    }
}
@media (max-width: 992px){
    .blog-comment-info .comment-input {
        width: 95%;
    }
}
/*小屏幕内容*/
@media screen and (max-width: 900px){
    .blog-reward{
        display: none;
    }
    .blog-comment-info .comment-input {
        width: 95%;
    }
}